<html>
    <body>
        <title>Da Lore</title>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="universe.component.css"
         <div class="TimesNewRoman"><h1>Les Règles</h1></div>
        <span class="moyen Arial">

menu de navigation: <ol><a href="#lexique">Lexique de jeu</a></ol>
                    <ol><a href="#races">Races</a></ol>
                    <ol><a href="#habilite">Habilité</a></ol>
                    <ol> <a href="#divinite">Divinités</a></ol>
                    <ol><a href="#magie">Magie</a></ol>
                    <ol> <a href="#specialisation">Spécialisation</a></ol><br/><br/>
<br/>
<br/>
<br/>




        <li>Mécaniques de base<br/><br/>
            Points de vie et mort :<br/><br/>
Chaque personnage a 7 points de vie (PV) de base, qu'il peut augmenter avec certaines compétences.<br/>
Quand le personnage tombe à 0 PV, il tombe par terre, inconscient.<br/>
Le personnage qui tombe inconscient ne se souviendra de rien qui se déroule durant le temps qu'il est évanoui, mais se souviendra de tout ce qui s'est passé jusqu'au moment de s'évanouir. (mais ne se souviendra pas du visage de quelqu'un qui l'attaque dans le dos)<br/>
Après 5 minutes, un corps inconscient meurt et se dirige au cimetière. Les morts-vivants qui sont inconscients vont directement au cimetière, leur corps est détruit à 0 PV.<br/>
Le cimetière se trouve dans l’outre-monde, il est donc inaccessible aux personnages vivants sauf exception.<br/>
Si une action néfaste est effectuée sur le corps, le joueur peut par la suite décider de se diriger directement au cimetière ou de rester par terre pour le restant des 5 minutes (et de s'exposer à d'autres actions néfastes)<br/>
Les sorts de guérison vont sortir leur cible de l’état d’inconscience.<br/>
Après 30 minutes hors-combat, on regagne tous nos points de vie (5 minutes à l'arbre de vie).<br/>
Après 30 minutes hors-combat, on regagne tous nos points de mana et de foi.<br/>
Pour tuer un personnage définitivement, on doit aller voir le forgeur céleste et il précisera la procédure.<br/><br/>

Dégâts : <br/><br/>
Toutes les armes font 1 point de dégât de base, sauf les flèches qui font 2. Le dégât peut évidemment être modifié par des compétences. On peut éviter de dire les dégâts si ils sont de 1.<br/>
Les fusils font 4 points de dégât, mais leurs balles doivent être achetées à gros prix.<br/><br/>

Armure : <br/><br/>
Un personnage qui porte une armure gagne des points d'armure. Ces points d'armure sont des points de vie renouvelables à la fin de chaque combat. Les valeurs ci-dessous sont à titre indicatif, l'animation se réserve le droit de modifier les valeurs pour votre armure en particulier. Vous obtenez des points d'armure pour chaque partie de votre corps protégée : torse, bras, jambes, tête. <br/>
Cuir, cuir clouté : 1 point<br/>
Métal, cotte de maille : 2 points<br/><br/>

Équipement de mage : <br/><br/>
Les mages/druides bénéficient d'un point de mana supplémentaire si ils portent une robe de mage (l'animation se réserve le droit de juger la validité de la robe)<br/>
Les prêtres bénéficient d'un point de foi supplémentaire si ils portent un artefact à l'effigie de leur dieu<br/><br/>

Dépouillement : <br/><br/>
Un personnage assommé ou inconscient peut se faire dépouiller. Ceci consiste à faire semblant de fouiller le corps de la victime durant 60 secondes (la victime peut compter et rester silencieuse avant 60 secondes). Au bout de 60 secondes, la victime doit révéler ses possessions. Le joueur qui fouille peut alors prendre un seul de ce qui suit :<br/>
        <li>La moitié de la fortune (or/argent/cuivre) de la victime (arrondi en faveur de celui qui dépouille)</li>
        <li>Un objet en-jeu au choix</li>
La victime n'est pas tenue de révéler l'utilité des items qu'elle possède. Un seul dépouillement peut-être effectué sur un joueur éligible à celui-ci.<br/>
Si la victime accepte, on peut fouiller pour vrai, question de roleplay, mais elle doit quand même révéler toutes ses possessions, mêmes cachées, après 60 secondes.<br/><br/>

Création d'un personnage : <br/><br/><a name="lexique"></a>
Un nouveau personnage doit se choisir une race, ce qui définit sa compétence raciale. Ensuite, il a 6 points de compétence à dépenser pour choisir ses compétences. Un personnage peut choisir des compétences dans n'importe quelle discipline, sans restrictions. Ces points peuvent être gardés pour plus tard si désiré.<br/>
Après chaque activité, un personnage gagne un point de compétence supplémentaire à dépenser.<br/><br/>

Lexique de jeu : <br/><br/>
Caché : Ne peut être vu. Le joueur doit croiser les bras devant lui. Toute personne l’ayant vu croiser les bras est immunisée à l’effet. Les effets de masse n'affectent pas les personnages cachés.<br/>
Trébuché : Pose deux genoux et deux mains au sol.<br/>
Foudroyé : Pose les deux épaules au sol.<br/>
Assommé : Le personnage ne peut prendre aucune action et n'est pas conscient de ce qui se déroule autour de lui. Prend fin lorsque la victime reçoit un quelconque effet néfaste, y compris un vol/dépouillement, ou après 5 minutes.<br/>
Désarmé : Jette son arme au sol ou la remet à sa ceinture (au choix de la cible)<br/>
Hors-combat : Ne peut être utilisée si le joueur peut entendre une bataille.<br/>
Paralysé : Ne peut pas bouger. Prend fin lorsque la victime reçoit un quelconque effet néfaste. La victime ne peut pas être dépouillée ou volée durant cet effet. La victime reste consciente de ses alentours.<br/>
Inconscient : Le personnage est par terre, à 0 PV. Voir la section « Points de vie et mort » plus haut.<br/>
Répulsion : Le joueur recule de X pas. Un obstacle fixe protège de l'effet, tandis qu'un joueur dans le chemin est entraîné par l'effet lui aussi. X est spécifié dans le sort ou la compétence en question.<br/>
Brûlure : Le personnage est en feu pour 10 secondes. Il ne peut rien faire d'autre que courir ou se rouler par terre. Se rouler par terre annule l'effet avant la fin.<br/>
Aveuglé : Le personnage ne voit rien. Prend fin lorsque la victime reçoit un quelconque effet néfaste.<br/>
Ralenti : La cible ne peut plus courir durant 30 secondes. L’effet se dérobe seulement après 30 secondes.<br/><br/><a name="races"></a>


<li>création de personnages</li><br/>
<ol>Choisir sa race</ol>
Celtes : Cette race est un dérivé de la race humaine. Cette race est celle qui vit en majeur parti sur cette parcelle du monde que nous allons explorer dans ce jeu. C'est une race qui vit en symbiose avec la nature, elle est tribale avec une culture non-écrite. C'est aussi un peuple mystique vivant de chasse et de pêche, elle a par contre commencé le troc entre tributs ce qui devrait éventuellement déboucher vers la commercialisation et la production. La majorité des druides proviennent des cette race. Elle a aussi une compréhension et une affinité particulière avec les forces arcanes ce qui la rend plus résistante à la magie.<br/>
La longévité de cette race peut atteindre les 125-150 ans.<br/><br/>
Habileté raciale : Affinité avec la magie (Tous les celtes commencent avec 1 point de mana et peuvent choisir un sort de niveau 1 qu’ils pourront utiliser parmi la magie élémentaire, la magie de base et les sorts druidiques. Les celtes mages ne bénéficient pas d’un point de mana supplémentaire mais il est possible pour eux de choisir un sort de niveau 1 de n'importe quelle classe magique autre que la leur)<br/><br/>

Humains : Cette race est à l'origine de touts les dérivés existant. (Celtes, demi-elfes, demi-orc, etc...) Elle est la grande instigatrice de toutes les instances politiques, intrigues et changement dans le monde. La raison pour laquelle elle est si chaotique est son urgence de vivre. En effet elle est l'une des race majeure (à part les orcs et demi-orcs) qui vie le moins longtemps, d'où son urgence d'accomplissement et de laisser un vestige de ces accomplissements.<br/>
La longévité de cette race peut atteindre les 80-90 ans.<br/><br/>
Habileté raciale : Lire et écrire, Communauté (En présence d'au moins un autre humain allié, gagne 1 point d'armure. Augmentable avec la compétence Armure. Les alliés tombés au combat comptent encore jusqu'à la fin du combat.)<br/><br/>

Elfes : Cette race est selon plusieurs mythologie la plus ancienne, d'une grâce et culture très accrues. Cette race vit dans la nature et la préserve. C'est une culture tribale, mais on dit qu'il existait des grands royaumes elfiques il y a très longtemps. Des légendes disent qu'elle était jadis immortelle et que par une malédiction divine elle devint mortelle. Il demeure cependant que c'est la race qui vit le plus longtemps parmi celles qui habitent les terres.<br/>
La longévité de cette race peut atteindre les 1500-2000 ans.<br/><br/>
Habileté raciale : Lire et écrire, Soins sylvestres (Peut se guérir soi-même lorsque dans la forêt, 1 PV par minute de soins)<br/><br/>

Demi-Elfes : Cette race est un métissage entre un humain et un elfe. C'est un race qui est en marge des deux société et qui ne forme pas une communauté proprement dites. Les humains et les elfes ne voient en elle que les traits d'une autre race à laquelle il ne font pas confiance. Ils sont quand même capable de côtoyer les deux cultures sans trop de difficultés. Ils sont tolérés, mais pas vraiment apprécié, à mois qu'ils ne se sont rendus capable d'exploits leur ayant emmené le respect de leurs pairs.<br/>
La longévité de cette race peut atteindre les 500-750 ans.<br/><br/>
Habileté raciale : Lire et écrire, camouflage<br/><br/>

Demi-Orcs : Cette race est un métissage entre un humain et un orc. C'est une race qui est en marge des deux société et qui ne forme pas une communauté proprement dites. Les humains et les orcs ne voient en elle que les traits d'une autre race à laquelle il ne font pas confiance. Ils sont quand même capables de côtoyer les deux cultures sans trop de difficultés. Ils sont tolérés, mais pas vraiment apprécié, à mois qu'ils ne se sont rendus capable d'exploits leur ayant emmené le respect de leurs pairs.<br/>
La longévité de cette race peut atteindre les 60-70 ans.<br/><br/>
Habileté raciale : Résistance contre la douleur (La douleur au combat n'affecte pas le joueur qui a plus de 5pv)<br/><br/>

Orcs : Cette race est tribale, primitive et violente. Elle suit la loi du plus fort et domine sur les autres races par son agressivité. Bien que ces individus possède une intelligence un peu inférieure à leur semblables humains et demi-orcs, ils sont capable de créer une société viable et hiérarchisé par les exploits des membres les plus forts.<br/>
La longévité de cette race peut atteindre 40-50 ans.<br/><br/>
Habilité raciale : Charge enragée (Au début d'un combat, le joueur crie très fort et charge, son premier coup fait +2 dégâts. Ne peut pas être combiné à force de rage. Ne peut pas être utilisé durant un combat.)<br/><br/>
<br/><br/><a name="habilite"></a>
Gobelins : Cette race de petite taille est de la même famille que les orcs, aussi sauvage, mais moins imposante, elle a dû être plus maligne, furtive et sournoise pour survivre. Les mots d'ordre chez les gobelins est la traîtrise et la fourberie pour la survie.<br/>
La longévité de cette race peut atteindre les 30-40 ans.<br/><br/>
Habileté raciale : Sournoiserie (Le joueur se déplace derrière le dos de la victime sans qu'elle puisse le voir ou réagir. Utilisable toutes les 30 minutes, seulement hors-combat.)<br/><br/>

<ol>choisir ses habiletés</ol>

Habiletés de combat : 
Coût/	Compétence/	Effet<br/>
1/	Résistance/	2 PV maximum supplémentaires par point de compétence utilisé (maximum 3).<br/>
1/	Force de rage/	En combat, le personnage concentre sa force dans un coup. Ce coup fait un dégât supplémentaire. Peut être utilisé une fois par combat, par point de compétence utilisé. (maximum 6)<br/>
1/	Précision/	Les projectiles de lancer font 2 points de dégât supplémentaires pour un coup. Peut être utilisé une fois par combat, par point de compétence utilisé. N'affecte pas les fusils. (maximum 4)<br/>
2/	Désarmer/	En frappant un coup sur l'arme d'un adversaire, il est désarmé. Peut être utilisé une fois par combat.<br/>
2/	Pulvériser/	En frappant l'épaule d'un adversaire avec une arme contondante, celui-ci est foudroyé. Un élan de 180 degrés doit être pris, sans quoi la compétence n'a pas d'effet. Peut être utilisé une fois par combat.<br/>
2/	Force extrême/	Permet de retenir une personne par le bras en disant fort : « Force extrême ». La victime est paralysée. Si la victime a aussi force extrême, il faut être deux personnes pour la maîtriser.<br/>
1/	Esquive/	Permet d'éviter un coup en disant fort «  Esquive  ». L'utilisateur ne compte pas les dégâts pour le dernier coup reçu (il y a moins de 5 secondes). Peut être utilisé une fois par combat, par point de compétence utilisé (maximum 3).<br/>
2/	Sauvegarde/ contre la magie	Annule les effets d'un sort dirigé vers le joueur, une fois par combat.<br/>
1/	Fuite/	Permet de se sauver en courant très rapidement en disant fort «  Fuite  ». L'utilisateur ne doit pas transporter d'objets encombrants dans ses mains. Peut être utilisé deux fois par gn, par point de compétence utilisé (maximum 3).<br/>
2/	Armure/	Double le nombre de points d'armure de l'armure portée par le personnage.<br/><br/>

Habiletés de fourberie<br/><br/>
Coût/	Compétence/	Effet
1/	Déguisement/	Permet à la personne d'avoir accès à des costumes, masques, maquillage et perruques pour déguiser de façon convaincante son personnage. Un seul costume par GN, mais sans limite de temps ou de fois permises.<br/>
1/	Expert en falsification/	Niveau 1 : La personne pourra savoir si un document est un faux ou un original.<br/>
Niveau 2 : Permet à la personne de faire de faux documents ayant l'air de vrais aux yeux du commun des mortels. La personne pourra avoir accès à des parchemins et des sceaux semblables à ceux utilisé par l'animation.<br/>
1/	Crochetage/	Permet de débarrer des serrures, des coffres, etc. sans avoir recours à une clef. Cette habileté est utilisable avec les serrures qui sont identifiées à cet effet.<br/>
2/	Vol à la tire/	En agrafant un item à une bourse ou un sac, celui qui exercera le vol aura droit au  tiers de la fortune contenue dans le contenant ciblé. (arrondi à la faveur de la victime) Un objet peut aussi être ciblé si le voleur en connaît l'existence. Le voleur doit aller voir l'animation pour récupérer son butin, ou leur avertir du vol de l'objet en question.<br/>
1/	Poser des pièges/	La personne installe un dispositif de ficelle, et reste près. La personne l'activant perdra des points de vie et sera contraint de reculer d'un grand pas. Un piège peut-être récupéré après usage et il est possible de désengager ses propres pièges sans perdre de points. On doit annoncer les dégâts à la victime. Si camouflé, on ne se révèle pas.<br/>
Niveau 1 : 2 PV<br/>
Niveau 2 : 4 PV<br/>
Niveau 3 : 5 PV. Si le joueur a 9 PV ou moins (avant dégâts), il tombe à 0<br/>
1/	Camouflage/	La personne se cache, en retrait des regards. Donne l'effet Caché au personnage. Le personnage de peut pas bouger tant qu'il est caché.<br/>
Toute armure de métal (cuir clouté exclu) empêche de se camoufler.<br/>
2/	Attaque furtive/	Le joueur fait une attaque précise dans le dos de son adversaire. Le joueur qui a un niveau plus haut peut choisir d'utiliser les effets plus faibles. Non-utilisable avec force de rage. Utilisable une fois par 10 secondes.<br/>
Niveau 1 : +2 dégâts à l'attaque <br/>
Niveau 2 : +2 dégâts à l'attaque, la victime trébuche.<br/>
Niveau 3 : +4 dégâts à l'attaque<br/><br/>

Habiletés de métier<br/><br/>
Coût/	Compétence/	Effet<br/>
2/	Fabrication de potions/	Le joueur prend connaissance de la méthode de fabrication de potions de base, ainsi que la connaissance de l'utilisation de deux ingrédients.<br/>
2/	Fabrication de poisons/	Le joueur prend connaissance de la méthode de fabrication de poisons de base, ainsi que la connaissance de l'utilisation de deux ingrédients.Permet aussi d'appliquer des poisons sur des armes tranchantes.<br/>
1/	Application de poisons/	Permet d'appliquer des poisons sur des armes tranchantes.<br/>
1/	Écriture de parchemins/	Écriture de parchemins magiques. Il faut qu'un sort soit lancé sur le parchemin pour que celui-ci devienne chargé. Doit savoir lire et écrire pour utiliser la compétence.N'importe qui sachant lire peut utiliser le parchemin et lancer le sort. Le parchemin est détruit.<br/><br/>

Habiletés sociales<br/><br/>
Coût/	Compétence/	Effet
1/	Lire et écrire/	Sinon le personnage est illettré, selon la race.<br/>
1/	Allié/	Quelqu'un est prêt à aider le personnage. Doit être choisi 2 semaines avant le GN.<br/>
1/	Richesse/	20 pièces d'argent de plus que le montant initial, par point de compétence utilisé (pas de maximum).À la création du personnage, on peut dépenser 2 points de compétence pour recevoir 50 pièces au lieu de 40. (ou 4 points pour 100, etc.)<br/>
1/	Marchandage/	Donne accès au marché entre les jeux. Les prix et disponibilités d'objets changent selon le niveau de la compétence. (maximum 5)<br/>
2/	Diplomatie/	Permet de savoir si une affirmation est vraie. Il faut dire « Diplomatie » après l'affirmation, puis la victime doit répondre par « c'est vrai » ou « c'est faux »Immunise à Baratin.<br/>
1/	Mensonge/	Immunise aux effets de Diplomatie et de Discours.<br/>
2/	Discours/	Tant que l'utilisateur continue à parler, les personnes autour sont paralysées en l'écoutant. Il faut dire « Discours » avant de commencer son discours. Les victimes ne sont pas conscientes qu'elles sont paralysées par le discours. (C'est comme une distraction, simplement)Le discours n'a pas d'effet tant que les personnages ne s'arrêtent pas pour écouter le propos. (en combat, sourds, orcs, etc.)<br/>
2/	Baratin/	Permet à l'utilisateur de convaincre un groupe de personnes d'un fait, sauf ceux qui ont vu le fait en question de leurs propres yeux.Pour utiliser : Il faut parler sans arrêt, sans se faire interrompre, durant 30 secondes. On dit ensuite « Baratin » et les personnages sont convaincus.<br/><br/>

Habiletés magiques<br/><br/>
Coût/	Compétence/	Effet
6/	Manipulation arcane/	Permet de manipuler la magie arcane (voir document Magies)Donne 3 points de mana<br/>
6/	Manipulation élémentaire/	Permet de manipuler une des magies élémentaires (voir document Magies)Donne 3 points de mana<br/>
6/	Druide/	Permet de manipuler la nature (voir document Magies)Donne 3 points de mana<br/>
6/	Prêtre/	Permet de faire des prières (voir document Magies)Donne 3 points de foi<br/>
1/	Concentration/	Ajoute un point de mana ou foi maximum supplémentaire par point de compétence utilisé.<br/><br/>
	Note :	On ne peut choisir qu'une discipline magique<br/><br/>

<ol> origine des joueurs humains :<br/><br/></ol>

Les habitants de Sylvafaer :<br/>
Capitale : Aucune.<br/>
Souverain :Aucun.<br/>
Terres sauvages peu civilisé et exploité, elle sépare les royaumes de Savoise et D'Athérius. De tradition celte et amérindienne, ses habitants ont dû faire preuve de tolérance et de coopération entre les différentes tributs qui y sont établies. Cette tolérance envers les autres leur a permit de survivre, mais ceci est appelé à changer sous peu.<br/><br/>

Les habitants de la Savoise :<br/>
Capitale : Savoie.<br/>
Souverain : Constantin.<br/>
Ces habitant arrivent d'une contrée dont fait parti plusieurs seigneuries et qui ont nommé un seul souverain : Le roi Constantin. Ce royaume est situé au sud de la région de Sylvafaer et il profitent d'un climat privilégié et paradisiaque. Pour cela, il n'a jamais été nécessaire à ces habitants de développer des avancées technologiques importantes. La magie est est quand même présente. Le symbole de cette nation digne et fière est le soleil. Son roi porte d'ailleurs le nom de « Roi des contrées du soleil ».<br/><br/>

Les habitants D'Athérius :<br/>
Capitale : Éthoss.<br/>
Souveraine : Irina Leptova.<br/>
Cette région est le vestige d'un ancien empire, ses habitants valorisent la connaissance. Cette région est situé au nord de Sylvafaer et son climat y est beaucoup plus hostile et froid. Il a donc fallut développer plusieurs technologies, afin de pouvoir y survivre. Ce peuple manque aussi de spiritualité et de croyances religieuse, à cause de leur a approche logique et pragmatique. Cette image n'est qu'en surface, car elle cache l'existence de plusieurs sectes secrètes. Un ordre existe cependant au grand jour : Les maître du savoir sont là pour s'assurer que la population ne devienne pas victime d'organisations malveillantes qui pourraient leur retirer leur liberté si précieuse.<br/><br/>
<a name="divinite"></a>  

         <div class="TimesNewRoman"><h1>Les Divinités</h1></div>    
<ol>Les Gwanurodyns :</ol> 
Ces divinités ne se voient pas comme bonnes, neutres ou mauvaises car elles sont arrivées avant ces
concepts. Depuis tous les temps. Yor’Enivrieg et Morgoth sont en conflit. C'est les Gwanurodyns qui
ont créé tous les dieux.<br/>
Yor'Enivrieg : <br/>
Symbole : L’œil tout puissant dans une tour.<br/>
Domaine : La lumière, la protection et la vérité.<br/>
Dogme : Dans la lumière viendra le bien sur le monde et le bannissement de la noirceur.<br/><br/>
Le Forgeur<br/>
Symbole : Enclume, Marteau et étoiles<br/>
Domaine : Les montagnes, l'industrialisation, les concepts (la pensée) et le créateur d'objets divins.<br/>
Dogme : L'abstrait et le concret se rejoignent dans la création. Tous sont sujets aux changements et au
lien entre ses deux concepts.<br/><br/>
Mortgoth<br/>
Symbole : Un Bouc<br/>
Domaine : La noirceur, l'Abysse et la liberté sans limite.<br/>
Dogme : Dans la noirceur, l'esprit devient libre de toutes restrictions.<br/>
Note aux prêtres: Les Gwanurodyns n'ont pas directement de prière propre à eux, mais ils peuvent
récompenser les priants avec plus de puissance selon leurs actions. <br/><br/>
 
<ol>Les dieux:</ol>
Awanatu<br/>
Symbole : La tortue.<br/>
Domaine : La nature et la création.<br/>
Dogme : Awanatu est le père de notre monde, il l'a créé et toutes les créatures qui y existent.<br/>
Prière spécifique: Bouclier : Au toucher, endurcit la cible. Elle évite les premiers 3 points de dégât.<br/><br/>
Dianecht<br/>
Symbole : La chouette.<br/>
Domaine : La guérison.<br/>
Dogme : La terre et ses habitants se meurent, il faut leur apporter guérison.<br/>
Prière spécifique: Réjuvénation : Au toucher, rend 4 PV à la cible.<br/><br/>
Uller<br/>
Symbole : Le cerf.<br/>
Domaine : La chasse, la guerre furtive et le dieu messager.<br/>
Dogme : Il faut utiliser Le fruit de la nature, pour assurer sa subsistance, sa protection et amener sa
volonté en tous lieux.<br/>
Prière spécifique: Flèche divine : Au pointer, 2 points de dégât à la cible.<br/><br/>
Ordra<br/>
Symbole : Aigle Royal<br/>
Domaine : La loi et la justice.<br/>
Dogme : La justice est impitoyable, elle amène la vérité et punit tous ceux qui la transgressent sans
discernement.<br/>
Prière spécifique: Vérité : Après un toucher, permet de poser une question à une cible. Elle prend 2
points de dégât si elle ment (C'est clair avec la douleur si la cible ment ou pas)<br/><br/>
Oghma<br/>
Symbole : La lune.<br/>
Domaine : La connaissance.<br/>
Dogme : La pureté du savoir doit toujours rester maître et dicte nos vies.<br/>
Prière spécifique: Inspiration divine : Le prêtre peut poser une question de connaissance générale à<br/>
l'animation (La réponse n'est pas nécessairement connu de tous, par exemple: qui était le plus puissant
prêtre à visiter Sylvafaer?)<br/><br/>
Briguit<br/>
Symbole : Le corbeau.<br/>
Domaine : L'art et l'espièglerie.<br/>
Dogme : Il y a beauté partout dans la création, et de cette beauté en vient les émotions qui amène un but
à l'existence.<br/>
Prière spécifique: Admiration de la création: Au toucher, la cible déambule en admirant la nature durant
5 minutes ou jusqu'à ce qu'elle reçoive un effet néfaste. Peut être dissipé par un allié après 1 minute
d'effet en brassant la cible. <br/><br/>
Agwa<br/>
Symbole : La truite.<br/>
Domaine : L'eau et le patron des marins.<br/>
Dogme : L'eau et la mer permettent la vie, sans elles tout le reste flétrit et périt.<br/>
Prière spécifique: Hydratation: (aucun coût en point de foi, utilisable une fois par 15 minutes) Au
toucher, rend 1 point de foi ou de mana à la cible.<br/><br/>
Néhrou<br/>
Symbole : Le poing.<br/>
Domaine : Le commerce et le pouvoir.<br/>
Dogme : Les avancements de l'humanité sont liés à la recherche du pouvoir, sans lui, la déchéance en
découle.<br/>
Prière spécifique: Négociation : Permet d'avoir un rabais sur le prix d'un objet acheté à un animateur.<br/><br/>
Arawn<br/>
Symbole : Le ver.<br/>
Domaine : La mort et la spiritualité.<br/>
Dogme : La mort est maîtresse de la vie et quand elle survient seul l'esprit et la spiritualité subsistent,
nous en sommes les bergers.<br/>
Prière spécifique: Repos : Au toucher, la cible assommée se dirige directement au cimetière.<br/><br/>
Moriganne<br/>
Symbole : Le chacal.<br/>
Domaine : La souffrance, le changement et la maladie.<br/>
Dogme : Sans le changement, la stagnation de l'évolution figera l'univers dans un torpeur qui mènera à
sa perte.<br/>
Prière spécifique: Corruption : Au pointer, enchante une arme, celle-ci fera 1 dégât de moins pour les 4
prochains coups. (On doit dire "Zéro" si notre arme ne fait aucun dégât)<br/><br/>
Nuada<br/>
Symbole : Le carcajou.<br/>
Domaine : La guerre et le meurtre.<br/>
Dogme : Nous sommes l'outil du changement et de la volonté du changement, qui mène vers le père
tout puissant, Arawn.<br/>
Prière spécifique: Lame du guerrier : Enchante une arme. Les deux prochains coups feront 1 dégât
supplémentaire.<br/><br/>
Larcein<br/>
Symbole : Le rat.<br/>
Domaine : Le vol et la traitrise.<br/>
Dogme : Ce que nos pairs ne peuvent accomplir, nous le faisons en soutirant ce qui ne devrait
appartenir aux mieux adaptés.<br/>
Prière spécifique: Stupeur : La cible est dans un état de stupeur durant 15 secondes, où elle ne se
souviendra de rien et ne peut effectuer aucune action. Elle ne se souviendra pas non plus que le prêtre
ait récité une prière à cet effet. <br/><a name="magie"></a>

<div class="TimesNewRoman"><h1>La magie</h1></div>
Dès qu’un personnage devient apte à manipuler la magie, il obtient trois sorts dans la spécialisation choisie. Les sorts de niveau 7 et plus coûtent 2 points d'expérience. <br/>
Un sort est annulé, mais le point de mana non-dépensé, si le magicien reçoit du dégât durant l’incantation. Le magicien peut marcher mais pas courir durant l’incantation.<br/><br/>
<ol>MAGES ÉLÉMENTAIRES</ol>
Les mages élémentaires peuvent varier leurs éléments ou se spécialiser dans un seul.<br/>
Feu:<br/>
Phrase d’activation : Ignis magicae combussit eos aduersus + nom sort + effet<br/> 

Boule de feu (niv 1): Au pointer, 2 points de dégâts à la cible désignée<br/>
Embrasement (niv 2): Au pointer, 1 point de dégât la cible prend feu et est parcourue de vive brûlure partout sur son corps (effet brûlure).<br/>
Arme bouillante (niv 3): Au pointer, l’arme de la personne devient ridiculement chaude, le porteur est désarmé.  L’effet ne persiste pas après le désarmement.<br/>
Flèche de feu (niv 4) : Au pointer, 3 points de dégâts à la cible désignée<br/>
Armure liquide (niv 5) : Au toucher, l'armure de la victime devient chaude et molle. La cible perd la totalité de ses points d'armure pour le combat.<br/>
Explosion pyrotechnique (niv 6) : Tous les joueurs qui entendent le magicien sont sourds et aveugles pour 5 secondes, et prennent 1 point de dégât. Le magicien n'est pas affecté.<br/>
Choc de flammes (niv 7) : Au pointer, 5 points de dégâts à la cible désignée.<br/>
Élémentaire de feu (niv 8) : ???<br/>
(Les niveaux 8, 9 et 10 sont cachés)<br/><br/>

Eau:<br/>
Phrase d’activation : Aqua magicae impetus eos aduersus + nom sort + effet <br/>

Éclat de givre (niv 1): Au pointer, 1 point de dégât et la cible est ralentie.<br/>
Lance de glace (niv 2): Au pointer, 2 points de dégâts à la cible désignée<br/>
Thé fortifiant (niv 3) : Lorsque le thé est infusé par le maître, les invités à sa table (maximum de 5, donc 6 avec le maître) se verront immuniser à toute influence extérieure tant que le thé est chaud. Tant qu’ils seront assis à la table du maître et qu’ils prendront le thé, rien ne les affectera. Les sorts, épées, armes et toutes autres influences externes aux invités de la cérémonie ne les affectent donc pas.<br/>
Forme liquide (niv 4) : Le joueur se transforme en forme liquide. Le joueur lève les deux petits doigts dans les airs. Il peut être vu, mais ne peut pas être interagi avec, et vice-versa. La durée du sort est à la discrétion du mage, elle peut être de durée infinie. <br/>
Siphon (niv 5) : Au pointer, le mage drainera 2 points de mana à la cible (ne fonctionne pas sur les prêtres)<br/>
Nova glaciale (niv 6): Au pointer, 3 point de dégât et la cible est ralentie, elle ne peut plus courir durant 30 secondes. L’effet se dérobe seulement après 30 secondes.<br/>
Hydratation (niv 7): (SEULEMENT le nom du sort doit et son effet doit être dit, pas la phrase d’activation complète) Au toucher, Le mage d’eau canalise son mana en essence vitale et guérit de 2 points de vie la cible.<br/>
Élémentaire d’eau (niv 8) : ???<br/>
(Les niveaux 8, 9 et 10 sont cachés)<br/><br/>

Air:<br/>
Phrase d’activation : Aer magicae tempestatis eos aduersus + nom sort + effet <br/>

Onde de choc (niv 1) : Au pointer, 1 point de dégâts à la cible désignée, répulsion 1 pas.<br/>
Course de la bourrasque (niv 2) : Le mage s'enfuit et ne peut pas être rattrapé.<br/>
Éclair (niv 3) : Au pointer, 2 points de dégâts à la cible désignée.<br/>
Bourrasque de vent (niv 4) : Zone d’effet,  toutes les personnes dans un angle de 90 degrés (indiqué par les bras du magicien) et à moins de 10 pieds de l’invocateur : Répulsion 5 pas.<br/>
Feinte du vent (niv 5): Le mage crée une protection temporaire sur la cible de son choix et l'élément de, qui donne une esquive pour 15 minutes ou jusqu'à la fin du combat. L'effet n'est pas cumulable.<br/>
Brume (niv 6): Tous les joueurs qui entendent le magicien crier le nom du sort sont aveuglés, sauf le magicien lui-même. Dure 2 minutes. La brume se disperse lors d'un effet de répulsion.<br/>
Bouclier de tornade (niv 7) : Le magicien ne peut pas être touché par des armes de jet (flèches, armes de lancer, fusils) pour 15 minutes ou jusqu'à la fin du combat.<br/>
Élémental d’air (niv 8) : ???<br/>
(Les niveaux 8, 9 et 10 sont cachés)<br/><br/>

Terre:<br/>
Phrase d’activation : Terra magicae concussus eos aduersus + nom sort + effet <br/>

Bras de roc (niv 1) : Permets de parer deux coups de lames et/ou flèches avec son bras sans subir de dégâts.<br/>
Coco roche (niv 2) : La cible désignée trébuche<br/>
Lancer de pierre (niv 3): Au pointer, 2 points de dégâts à la cible désignée<br/>
Magnitude (niv 4) : Tous les joueurs qui entendent le magicien crier le nom du sort sont foudroyés, l’élémentaliste est aussi affecté par l’effet du sort.<br/>
Armure de pierre (niv 5): Le mage crée une armure temporaire en pierre sur la cible de son choix, qui donne 2 points d’armure pour 15 minutes ou jusqu'à la fin du combat. L'effet n'est pas cumulable.<br/>
Avalanche (niv 6) : D'énormes pierres tombent sur la tête d'un maximum de 3 cibles désignées, celles-ci reçoivent 3 dégâts. Ce sort est uniquement utilisable hors combat et va généralement résulter en un combat.<br/>
Monolithe (niv 7) : Une fois par jeu, le mage peut canaliser son essence vitale dans un monolithe de pierre. Tant que le monolithe tient debout, le mage peut utiliser des sorts sans dépenser de mana. Le monolithe est destructible en deux coups par une arme contondante. C'est la responsabilité du mage de compter les coups sur son monolithe.<br/>
Élémental de terre (niv 8) : ???<br/>
(Les niveaux 8, 9 et 10 sont cachés)<br/><br/>

<ol>MAGIE DE BASE</ol>
Tous les mages de base partagent les mêmes sorts et ont une multitude de sorts offerts à eux, le choix leur appartient. Lors de la transition du niveau 3 à 4, les mages de bases pourront se choisir une spécialisation parmi les suivantes et ils devront se développer à travers cette branche. Rien ne les empêche cependant d’aller chercher un sortilège de base de niveau 3 ou moins par la suite.<br/>

Phrase d’activation : Ô porta de labeii manipula elementum + nom du sort + effet<br/>
Détection de la magie (niv 1) : le mage peut apercevoir ce qui est magique mais ne peut déterminera ce que c’est.<br/>
Missile arcane (niv 1) : Au pointer, 1 point de dégât à la cible désignée<br/>
Or des fou (niv 2) : 3 petites roches se transforme en or. 20min après le sort, l’or redevient ce qu’elle est vraiment, des roches.<br/>
Protection arcane (niv 2) : Le mage se protège soi-même des dégâts, il se rajoute un point d'armure pour 15 minutes ou jusqu'à la fin du combat. L'effet n'est pas cumulable.<br/>
Questionner un mort (niv 3) : Permet au mage qui conjure le sort d'avoir une conversation d'une durée maximale de 2 minutes avec l'âme d'une victime assommée ou morte. La cible répond de la même façon qu'elle l'aurait fait de son vivant et n'est soumise à aucun effet de vérité.<br/>
Explosion arcane (niv 3): Tous les joueurs qui entendent le magicien crier le nom du sort reçoivent 1 point de dégâts, sauf le magicien lui-même.<br/>
Bola magique (niv 3): La cible trébuche.<br/>
Dispersion de la magie (niv 3) : Retire les effets d'un sort mineur. (niveau 7 et moins) Ne bloque pas les sorts.<br/><br/>

<ol>Spécialisation Nécromant (requiert un sort de magie de base niveau 3 au choix)</ol>
Animation squelettique (niv 4) : À partir d'un cadavre de vivant, le nécromancien peut créer un squelette non-intelligent qui se battra selon la volonté du nécromant. Le squelette ne possédera aucune capacité, aura 6 points de vie et aura un dégât de 1 avec l'arme utilisée par le personnage lorsqu'il était vivant. S'il n'avait pas d'arme, le nécromant peut lui en fournir une. Un squelette à la fois. Le squelette se désintègre après 15 minutes.<br/>
Voile mortel (niv 5) : Au toucher, le nécromant peut infliger 3 points de dégâts à un vivant ou guérir 3 points de vie à un mort-vivant.<br/>
Intuition des esprits (niv 6) : Habileté passive: à force de traîner avec les morts, le nécromant a appris à les connaître, il peut librement discuter avec ceux-ci et une fois par conversation il peut se servir de l'habileté Diplomatie, qu'il possède la compétence ou non.<br/>
Lève-toi mon enfant! (niv 7) : À partir d'un cadavre de vivant, le nécromancien peut créer un revenant intelligent qui possèdera toutes les capacités qu'il avait de son vivant. Celui-ci agira selon la volonté de son créateur. Un revenant à la fois. Après 15 minutes, le revenant peut choisir d'aller au cimetière ou de continuer à être un revenant pour un autre 15 minutes, et ainsi de suite.<br/>
Aspect de la Liche (niv 8) : ???<br/>
(Les niveaux 8, 9 et 10 sont cachés)<br/><br/>

<ol>Spécialisation Arcaniste (requiert un sort de magie de base niveau 3 au choix)</ol>
Bouclier magique (niv 4) : Le mage conjurant ce sort annulera complètement les effets du prochain sortilège sur lui-même.<br/>
Enchantement des coffres (niv 4) : L'arcaniste protège le coffre avec un sceau magique, seulement l'arcaniste pourra désormais ouvrir le coffre. Le sceau a une durée infinie, sauf si une dispersion de la magie est utilisée sur le sceau. Enchantement des coffres peut être utilisé avec une cible quelconque, ce faire lui donnera accès au coffre en question à la place de l'arcaniste.<br/>
Copie arcane (niv 5) : Permet à l'arcaniste de recopier l'effet d'un sort de niveau 7 ou moins dont il a entendu l'incantation dans les 5 dernières minutes. Il ne pourra pas copier le même sort deux fois de suite. Il ne faut pas dire l'incantation du sort copié mais il faut dire son nom et son effet.<br/>
Lame arcane (niv 5) : L’arcaniste infuse la lame de son choix d’énergie arcane et le prochain coup donné par cette arme bénéficiera d’un bonus de dégâts de 2. L’effet se dissipe après 15 minutes si aucun coup n’est donné.<br/>
Implantation de souvenirs (niv 6) : L’arcaniste qui utilise ce sort devra par la suite discuter avec sa victime durant 2 minutes ou plus sans interruption. À n'importe quel moment après le 2 minutes, l'arcaniste peut arrêter la conversation sur un sujet. Il peut alors énoncer une phrase simple qui sera le souvenir qui sera implanté, suivi de « Implantation de souvenirs ». Le souvenir est maintenant partie intégrante de la mémoire de la cible. <br/> 
Effigie (niv 7) : Une fois par jour, l'arcaniste peut créer une effigie enchantée. Lorsque l'arcaniste tombe inconscient, il retourne à son effigie hors-jeu, et il réapparaîtra instantanément à cet endroit avec ses pleines capacités. L'effigie est alors détruite. L'effigie n'est pas destructible à part lors de son utilisation. L'effigie doit avoir une représentation physique.<br/>
Archimage (niv 8) : ???<br/>
(Les niveaux 8, 9 et 10 sont cachés)<br/><br/>

<ol>Spécialisation Mage de sang (requiert un sort de magie de base niveau 3 au choix)</ol>
Offrande de sang (niv 4) : Le sorcier peut se mutiler pour amplifier l'effet de son prochain sort. Au coût de 2 points de vie, son prochain sort au pointer bénéficiera d'un bonus de 2 dégâts. Ce sort n'a aucune formule (mais coûte du mana), cependant un acte de mutilation doit être performé par le mage. AUNCUNE phrase d’activation est nécessaire à ce sort, seulement un le geste de mutilation. Le sort n'affecte que les dégâts d'un sort, aucun autre effet. Les sorts de magie de base ainsi que les sorts propre au mage de sang peuvent être augmentés par l’offrande.<br/>
Cannibalisme (niv 5) : Le mage consomme un quelconque cadavre de vivant durant 60 secondes, le mage de sang régénère sa santé au complet. Consommer un cadavre peut être questionnable d'un point de vue éthique!<br/>
Absorption (niv 6) : Au pointer, le mage fait 2 points de dégâts à la cible. Il se guérit de 2 points de vie.<br/>
Sacrifice (niv 7): Au pointer, le mage canalise toute son énergie vitale manquante en lui en éruption de dégâts. Le mage fait un sort de dommage totalisant sa vie manquante. <br/>
Contrôle de sang (niv 8) : ???<br/>
(Les niveaux 8, 9 et 10 sont cachés)<br/><br/>

<ol>DRUIDES</ol>
Tous les sorts sont disponibles pour achat, chaque sort peut être augmenté de nouveau, de niveau individuellement (max 3 niveaux)<br/>
Pour un sort niveau 2: minimum 1 sort différent ou plus niveau 1 ou plus<br/>
Pour un sort niveau 3: minimum 2 sort différent ou plus niveau 2 ou plus<br/>
Maximum de 2 sorts de niveau 3.<br/>

Phrase d’activation : Arboisel sacer terra o matere + nom du sort + effet<br/><br/>

Appel de l'animal : Après avoir utilisé ce sort, les prochains coups bénéficient d'un bonus de dégâts de 1.<br/><br/>
Niveau 1: Un coup<br/>
Niveau 2: Trois coups<br/>
Niveau 3: Durée du combat<br/><br/>
Innervation : Le druide plante une de ses jambes dans le sol. Il gagne des points d'armure tant que son pied ne quitte pas le sol (il peut seulement pivoter). Les effets Trébuché et Foudroyé arrêtent l'effet.<br/><br/>
Niveau 1 : 2 points d'armure<br/>
Niveau 2 : 4 points d'armure<br/>
Niveau 3 : 8 points d'armure<br/><br/>
Épine : Au pointer la cible reçoit 1 point de dégâts. En forêt, le dégât est augmenté à:<br/><br/>
Niveau 1 : 2 points de dégâts<br/>
Niveau 2 : 3 points de dégâts<br/>
Niveau 3 : 6 points de dégâts  <br/><br/>
Symbiose : Permet au druide de se mouvoir dans la forêt sans se faire détecter.<br/><br/>
Niveau 1 : Permet de rester immobile ou de ramper par terre<br/>
Niveau 2 : Permet de se mouvoir en gardant les mains et les pieds au sol<br/>
Niveau 3 : Permet de marcher debout<br/>
Enchevêtrement: Permet au druide de paralyser un personnage sur place.<br/><br/>
Niveau 1 : 5 secondes<br/>
Niveau 2 : 10 secondes<br/>
Niveau 3 : 20 secondes<br/><br/>
Éveil de la forêt : Le druide invoque un esprit de la forêt afin qu’il possède le corps d’un individu consentant. Il est sous le contrôle du druide et perd la faculté de la parole et de la pensée.  Lorsque le sort se termine, le corps revient intact à l'endroit où le sort a été lancé et l’hôte ne se souvient pas de ce qui s’est passé. L’armure portée par le joueur ne compte pas.<br/><br/>
Niveau 1 : 5 PV, dégâts de 1<br/>
Niveau 2 : 10 PV, dégâts de 1<br/>
Niveau 3 : 15 PV, dégâts de 2<br/><br/>
Sympathie : Permet au druide d'utiliser l'esprit de la forêt pour guérir un personnage en méditant 90 secondes tous les deux en forêt.<br/><br/>
Niveau 1 : 3 PV<br/>
Niveau 2 : 5 PV<br/>
Niveau 3 : 10 PV<br/><br/>

<ol>PRÊTRES</ol>

Les prêtres ne manipulent pas la magie, mais la foi. Une prière est annulée, mais le point de foi non-dépensé, si le magicien reçoit du dégât durant l’incantation. Le prêtre ne peut pas marcher ou courir durant l’incantation<br/>
Chaque prêtre choisit 2 prières mineures pour commencer, les autres peuvent être obtenues au coût de 1 point de compétence. Le pouvoir du dieu spécifique est disponible pour tous les prêtres de ce dieu gratuitement. Les miracles doivent être augmentés au coût de [niveau du miracle] points de compétence.<br/>
Après avoir effectué un miracle, le prêtre doit prier 2 minutes peu importe ce qui se passe alentour, après avoir fait le miracle. (il continue à prier même s'il se fait frapper) Peut être augmenté (max 4 niveaux)<br/>

Phrase d’activation des prières : Ô __ (nom du dieu) bénéficium imaem dinus + nom du sort + effet<br/>
Phrase d’activation : Ô __ (nom du dieu) bénéficium prodigium miraculum + nom du sort + effet<br/><br/>

Prières Mineures<br/>
Guérison : Au toucher, rend 3 PV à la cible.<br/>
Calme : Au toucher, empêche la cible de se battre pour 2 minutes ou jusqu'à ce qu'elle reçoive un effet néfaste.<br/>
Détection de la foi : Au toucher, permet au prêtre de connaître si la cible est divine (objet) ou de savoir à quel dieu la cible porte allégeance (personnage).<br/>
Aveuglement : Au toucher, la cible est aveuglée par une lumière divine durant 1 minute.<br/>
Bénédiction : Au toucher, bénit l'arme (dégâts bénis, 2x dégâts aux morts vivants) ou l'objet ciblé.<br/>
Sanctuaire : Crée un sanctuaire dans un rayon de 2 m autour de lui où personne ne peut se battre. Personne ne peut entrer ni sortir. Dure 2 minutes.<br/>
Course folle : La cible court dans toutes les directions durant 1 minute. Prend fin lorsque la victime reçoit un effet néfaste.<br/><br/>

Miracles<br/>
Guérison majeure : Rend 4, 6, 8 points de vie à tous les alliés du prêtre qui entendent le sort<br/>
Bénédiction du champion : Au toucher, ajoute 3 points de vie et 0 points de dommage à la cible, ([5 et 0], [7 et 1]).<br/>
Nova sacrée : Bénit les armes de tous les alliés du prêtre à un rayon de 5 pieds du prêtre, 15 pieds, à portée de voix. De plus, s’il y a des morts-vivants à la même portée du prêtre, effet de répulsion sur ceux-ci.<br/>
Vision divine : Permet de contacter son dieu pour lui poser une, deux, trois questions quelconques. Une fois par jeu.<br/>
Flammes sacrées : Au pointer, détruit un mort-vivant mineur sous l’impact, s’il est trop puissant, lui inflige 7, 12, 17 points de dégâts.<br/><br/>

<a name="specialisation"></a>


<div class="TimesNewRoman"><h1>Classes de spécialisation</h1></div>
 Un personnage qui gagne 5 points de compétence à travers les jeux peut choisir une classe de spécialisation. Les spécialistes ne peuvent pas avoir d'habiletés magiques (sauf compétence raciale)<br/><br/>
Barbare<br/>
Prérequis : Force de rage (4)<br/>
Coût/	Compétence/	Effet<br/>
1/	Force brute/	En combat, le barbare concentre sa force dans un coup. Ce coup fait deux dégâts supplémentaires. Peut être utilisé une fois par combat, par point de compétence utilisé. (maximum 3) Remplace une force de rage.<br/>
1/	Frénésie/	Le barbare ne ressent pas la douleur en combat.<br/><br/>

Janissaire<br/>
Prérequis : Désarmer, Force de rage, Esquive<br/>
Coût/	Compétence/	Effet
1/	Coupe-jarret/	En frappant le mollet d'un adversaire, ce dernier trébuche. Peut être utilisé une fois par combat.<br/>
1/	Éventrement/	En frappant le devant du torse d'un adversaire, le coup fait 3 dégâts supplémentaires. Peut être utilisé une fois par combat, par point de compétence utilisé. (maximum 2)<br/>
1/	Lacération/	En frappant le dos d'un adversaire, le coup fait 2 dégâts supplémentaires. Peut être utilisé une fois par combat.<br/><br/>

Chevalier<br/>
Prérequis : Armure, Résistance, Force extrême<br/>
Coût/	Compétence/	Effet<br/>
1/	Parade/	Bloquer un coup à l'aide d'une arme permet au chevalier de regagner 2 PV. Peut être utilisé une fois par combat, par point de compétence utilisé. (maximum 3)<br/>
1/	Barricade/	Le chevalier stabilise une de ses jambes au sol avant un combat. Il gagne 6 points d'armure tant que son pied ne quitte pas le sol (il peut seulement pivoter). Les effets Trébuché et Foudroyé arrêtent la barricade.<br/><br/>

Scribe<br/>
Prérequis : Lire et écrire<br/>
Coût/	Compétence/	Effet<br/>
1/	Citation/	Permet au scribe de noter les dires (véritables) d'un personnage par écrit. À la lecture de la citation, personne ne peut douter de la véracité de la citation.<br/>
1/	Décrypter/	Les connaissances avancées du scribe lui permettent de décrypter plus facilement les écrits (voir l'animation pour la solution)<br/>
1/	Documents officiels/	Le scribe peut officialiser des contrats et documents, ainsi que vérifier l'authenticité de contrats et documents. (Ne permet pas de déceler les documents falsifiés, seulement que les documents ont été écrits par un scribe)<br/><br/>

Troubadour<br/>
Prérequis : Baratin<br/>
Coût/	Compétence/	Effet<br/>
1/	Poésie/	Permet à l'utilisateur de convaincre un groupe de personnes d'un fait, sauf ceux qui ont vu le fait en question de leurs propres yeux.Pour utiliser : Il faut parler sans arrêt, sans se faire interrompre, durant 30 secondes. On dit ensuite « Baratin-Poésie » et les personnages sont convaincus, même ceux qui sont immunisés à Baratin.<br/>
1/	Séduction/	Permet au troubadour de convaincre une personne de faire une action.Pour utiliser : Il faut parler sans arrêt, sans se faire interrompre, durant 30 secondes. On dit ensuite « Séduction » et le personnage est séduit. Si d'autres personnages sont présents et attentifs, ils peuvent voir le stratagème.<br/><br/>

Chasseur<br/>
Prérequis : Précision, Force de rage, Poser des pièges<br/>
Coût/	Compétence/	Effet<br/>
1/	Filet/	Permet au chasseur d'attraper des créatures dans un filet.<br/>
1/	Pistage/	Permet au chasseur de chercher des traces de créatures.<br/>
2/	Point vital/ Tous les coups du chasseur (toute arme) font 4 points de dégât supplémentaires sur les créatures vivantes. Peut être combiné à Précision ou Force de rage.<br/><br/>

Assassin<br/>
Prérequis : Attaque furtive, Poser des pièges, Camouflage<br/>
Coût/	Compétence/	Effet<br/>
2/	Assassinat/	Hors-combat, l'assassin peut frapper dans le dos d'une victime et celle-ci tombe inconsciente (0 PV).<br/>
1/	Arme dissimulée/	Permet à l'assassin de cacher une arme de 30cm ou moins qui ne sera pas découverte si on le fouille. Un minimum de décorum est demandé (cacher l'arme pour vrai un peu)<br/>
1/	Mouvement furtif/	La personne se cache, en retrait des regards. Donne l'effet Caché au personnage. Le personnage peut bouger tout en restant caché.Toute armure de métal (cuir clouté exclu) empêche de se camoufler.<br/><br/>

Escroc<br/>
Prérequis : Vol à la tire, Poser des pièges<br/>
Coût/	Compétence/	Effet<br/>
1/	Larcin/	Vol à la tire cible maintenant un personnage au lieu d'un contenant.<br/>
1/	Dispositif piégé/	Un piège peut être installé à l'intérieur d'un coffre ou autre conteneur en écrivant l'effet sur un bout de papier qui sera laissé dans le coffre. Il est alors déclenché sur celui qui ouvre le coffre.<br/>
2/	Odeur de l'or/	Une fois par heure, l'escroc peut demander à l'animation le contenu d'un coffre ou les avoirs d'un personnage.<br/><br/>

Rôdeur<br/>
Prérequis : Précision, Esquive, Camouflage<br/>
Coût/	Compétence/	Effet<br/>
1/	Tireur d'élite/	Les flèches et carreaux font 3 points de dégât supplémentaires. Peut être utilisé une fois par combat, par point de compétence utilisé. (maximum 3)<br/>
1/	Observateur/	Le rôdeur peut détecter quelqu'un de camouflé en le regardant durant 10 secondes.<br/><br/>

         </span>
    </body>