<h2>Situation géographique</h2>

<p>
    Athérius, au nord, croit en l'avènement de la technologie. 
    La savoise, au sud, croit en la magie et les dieux. 
    Ainsi, entre les deux se trouve une terre ancestrale, 
    hostile par ses nuits où sortent les morts-vivants, 
    qui se nomme Sylvafère. Comme elle est peu habitée, 
    la région est pleine d'opportunités. Bienvenue, cher ami.
</p>


<h3>Sylvafaer</h3>
<div>
    <p>Capitale : Aucune</p>
    <p>Souverain : Aucun</p>
    <p>Terres sauvages peu civilisé et exploité, elle sépare les royaumes de Savoise et D'Athérius. De tradition celte et amérindienne, ses habitants ont dû faire preuve de tolérance et de coopération entre les différentes tribus qui y sont établies. Cette tolérance envers les autres leur a permit de survivre, mais ceci est appelé à changer sous peu.</p>
</div>

<h3>La Savoise</h3>
<div>
    <p>Capitale : Savoie</p>
    <p>Souverain : Constantin</p>
    <p>Ces habitant arrivent d'une contrée dont fait parti plusieurs seigneuries et qui ont nommé un seul souverain : Le roi Constantin. Ce royaume est situé au sud de la région de Sylvafaer et il profitent d'un climat privilégié et paradisiaque. Pour cela, il n'a jamais été nécessaire à ces habitants de développer des avancées technologiques importantes. La magie est est quand même présente. Le symbole de cette nation digne et fière est le soleil. Son roi porte d'ailleurs le nom de « Roi des contrées du soleil ».</p>
</div>

<h3>Athérius</h3>
<div>
    <p>Capitale : Éthoss</p>
    <p>Souveraine : Irina Leptova</p>
    <p>Cette région est le vestige d'un ancien empire, ses habitants valorisent la connaissance. Cette région est situé au nord de Sylvafaer et son climat y est beaucoup plus hostile et froid. Il a donc fallut développer plusieurs technologies, afin de pouvoir y survivre. Ce peuple manque aussi de spiritualité et de croyances religieuse, à cause de leur a approche logique et pragmatique. Cette image n'est qu'en surface, car elle cache l'existence de plusieurs sectes secrètes. Un ordre existe cependant au grand jour : Les maître du savoir sont là pour s'assurer que la population ne devienne pas victime d'organisations malveillantes qui pourraient leur retirer leur liberté si précieuse.</p>
    <p>Depuis la venue des démons, la technologie, inutile face à eux, a été remise en question en faveur de la religion, triomphante des créatures. Un gouvernement religieux de fortune a donc depuis pris le pouvoir, banissant toute technologie fonctionnant à l'Essence Spirituelle Fossilisée (esf).</p>
</div>