<!--<button (click)="LogRulebook();">log-me</button>-->
<button pButton type="button" class="my-button" (click)="AddSkillPoint()" icon="fa-plus-circle"></button>
<button pButton type="button" class="my-button" (click)="RemoveSkillPoint()" [disabled]="!(GetAvailablePoints() > 0)" [class.disable-button]="!(GetAvailablePoints() > 0)" icon="fa-minus-circle"></button>
<div>Points de compétence total: {{GetTotalPoints()}}</div>
<div>Points de compétence restants: {{GetAvailablePoints()}}</div>
<tree-pick-list [Available]="Skillz"></tree-pick-list>
<tree-skill-list [Skills]="GetTakenSkills()"></tree-skill-list>
