<div [class.skillTaken]="skill.PointsIn() > 0">
    <div class="row">
        <div class="col-md-9 col-xs-6 skillNameContainer">
            <h3>{{skill.Name}}</h3>
            <div [hidden]="skill.IsMaxOnePoint()">Points: {{skill.PointsIn()}}</div>
        </div>
        <div class="pull-right col-md-2 col-xs-5 button-div">
            <button pButton type="button" class="my-button" [disabled]="!skill.isValid()"         [class.disable-button]="!skill.isValid()"       (click)="skill.Pick()"      icon="fa-plus-circle"></button>
            <button pButton type="button" class="my-button" [disabled]="skill.PointsIn() == 0"    [class.disable-button]="skill.PointsIn() == 0"  (click)="skill.UnPick()"    icon="fa-minus-circle"></button>
        </div>
    </div>
    <div class="row">
        <p-panel [collapsed]="!skill.isValid()" [toggleable]=true class="col-xs-12">
            <ul>
                <li *ngFor="let rule of skill.Rules" [hidden]="rule.IsValid(skill)" class="invalidRuleText">
                    <!--{{rule.Type}} : -->
                    {{ rule.ErrorMessage }}
                </li>
            </ul>
            <div>{{skill.Description}}</div>
        </p-panel>
    </div>
</div>
