<h1 class="TitleFont">Bienvenue dans les Sentiers de l'Oubli</h1>
<img class="background-image" src="assets/HomePageBackgroundSentiers.jpg" alt="background image">
<p class="gras">
    Les sentiers de loubli est un grandeur nature qui mêle médiéval-fantastique à steampunk dans les alentours de Saint-lazare.
    Avec la nouvelle équipe d'animation, il y en a pour tous les goûts.
</p>
<p>
    Pour le cout de 45$, le GN ainsi que trois repas sont fournis: souper le samedi ainsi que déjeuner et dîner le dimanche.
</p>

<span class="gras">Prochains GNs:</span>
<ul>
    <li> 29-30 juillet</li>
    <li> 30 sept-1 octobre</li>
</ul>
Pour vous inscrire, et économiser 5$ en même temps, <a href="http://www.abominablecourse.com/gn"target=blank>cliquer ici.</a>
<br/>
<br/>
Visitez notre <a href="https://www.facebook.com/groups/218263204881836/" target=blank>groupe facebook</a>!