
<html>`
 <body>
     <title> les sentiers de l'Oubli</title>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="homepage.component.css" >
<div class="TimesNewRoman"><h1>Bienvenue dans les Sentiers de l'Oubli</h1></div>
<img src="../../assets/MainPageImage1.png" alt="beau petit garcon">
    <span class="moyen  Arial"> 
     <span class="gras">  Description:</span> Les sentiers de loubli est un grandeur nature fantastque,steam punk des alentours de St-lazar. Pour le cout de 45$ le dinner,souper et dejeuner est fournit avec le jeu inclus XD <br/><br/>
      <span class="gras"> Resume:</span> Athérius, au nord, croit en l'avènement de la technologie. La savoise, au sud, croit en la magie et les dieux. Ainsi, entre les deux se trouve une terre ancestrale, hostile par ses nuits où sortent les morts-vivants, qui se nomme Sylvafère. Comme elle est peu habitée, la région est pleine d'opportunités. Bienvenue, cher ami.<br/><br>
    prochains GNs:
    <li> 29-30 juillet<br/>
    <li> 30 sept-1 octobre<br/><br/>
   

    Pour vous inscrires allez sur ce lien :<a href="http://www.abominablecourse.com/gn"target=blank>http://www.abominablecourse.com/gn</a> <br/><br/>
    notre groupe facebook:
    <a href="https://www.facebook.com/groups/218263204881836/" target=blank>https://www.facebook.com/groups/218263204881836/</a>
    </span>


 </body>

</html>