<h1 class="TitleFont">Bienvenue dans les Sentiers de l'Oubli</h1>
<img class="background-image" src="assets/HomePageBackgroundSentiers.jpg" alt="background image">
<p class="gras">
    Les sentiers de loubli est un grandeur nature qui mêle médiéval-fantastique à steampunk dans les alentours de Saint-lazare.
    Avec la nouvelle équipe d'animation, il y en a pour tous les goûts.
</p>
<p>
    Steampunk, médiéval fantastique, avec un panthéon inspiré des premières nations, il y en a pour tout le monde.
</p>
<p>
    Magnifique ainsi que immense terrain, qu'on essaie toujours d'utiliser à son maximum.
</p>
<p>
    Livre de règles nouvellement refait, qui permet une progression sans rendre sans-défense les nouveaux joueurs.<br/>
</p>
<p>
    Nourriture fournie! 3 repas: habituellement un souper de chops de porc le samedi, un déjeuner de fruits, oeufs durs et toasts ainsi qu'un dîner de hot dogs et burgers le dimanche.<br/>
</p>
<p>
    Et bien sûr une animation dynamique prête à vous recevoir!
</p>

<span class="gras">Prochains GNs:</span>
<ul>
    <li> 29-30 juillet</li>
    <li> 30 sept-1 octobre</li>
</ul>
Pour vous inscrire, et économiser 5$ en même temps, <a href="http://www.abominablecourse.com/gn"target=blank>cliquer ici.</a>
<br/>
<br/>
Visitez notre <a href="https://www.facebook.com/groups/218263204881836/" target=blank>groupe facebook</a>!