.disable-button{
    background-color: #dd4040 !important;
    background-blend-mode: screen !important;
    opacity: 0.55 !important;
}

.my-button{
    border: none !important;
    margin: 2px;
}

body, .ui-carousel-viewport{
    background-color: rgb(250, 249, 245);
}

body{
    /* 969px is the sweet spot to work around a bug in PrimeNg's carousel, with the last item being displayed on the first page between 970px and 1001px wide pages */
    max-width: 969px;
    margin-left : auto;
    margin-right : auto;
}

h1,h2,h3,h4,h5,h6{
    color: #3E3E3E;
}
